<div id="data-header"></div>
<div class="section col-sm-10 col-sm-push-1 col-xs-12 col-lg-10 col-lg-push-1">
    <h1>Data</h1>
    <hr />
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
        tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui. </p>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h2>Import</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2>Export</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>
        </div>
    </div>
</div>