<div id="section-head">
    <img class="img-responsive" style="display: inline;" src="assets/img/circle.png"
         alt="logo_back" />
    <span class="glyphicon glyphicon-globe logo"></span>
    <h1>OrbisServer</h1>
    <p>OSGI web server plugin for OrbisGIS based on wisdom-framework.</p>
</div>
<div id="subtext" class="row">
    <div class="col-sm-6 col-xs-12 col-lg-4">
        <span class="glyphicon glyphicon-hdd head-icon"></span>
        <h2>Data</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="javascript:data();">View details &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-xs-12 col-lg-4">
        <span class="glyphicon glyphicon-cog head-icon"></span>
        <h2>Process</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="javascript:process();">View details &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-xs-12 col-lg-4">
        <span class="glyphicon glyphicon-share head-icon"></span>
        <h2>Share</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button" onclick="javascript:share();">View details &raquo;</a></p>
    </div>
</div><!--/row-->