      .list-group-item-process{
        background:#FFF;
        font-size: 15px;
        border-style: solid;
        border-bottom: none;
      }
    .gly-spin {
        -webkit-animation: spin 2s infinite linear;
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
    }
    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
        }
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
        }
    }
    @-o-keyframes spin {
        0% {
            -o-transform: rotate(0deg);
        }
        100% {
            -o-transform: rotate(359deg);
        }
    }
    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    .rotate{
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -o-animation: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .rotate.down{
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        -o-animation: rotate(180deg);
        transform:rotate(180deg);
    }
    .tilte{
        padding-top:50px;
    }
    .description{
        padding-top:20px;
        padding-bottom:20px;
    }
    .hidden{
        border-bottom: solid 2px;
        border-color : #999;
        margin-bottom : 20px
    }
    #submitBtn{
        margin-top:20px;
    }
    #checkBoxs{
        padding-top:20px;
        padding-bottom:20px;
    }
    #checkBoxs-optional{
        padding-top:20px;
        padding-bottom:20px;
    }
